.bg {
  &-cover{
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-position-center {
    background-position: center center;
  }
  
}

// image 屬性設定
.object-position {
  &-tc {
    object-position: top center;
  }
  &-bc {
    object-position: bottom center;
  }
}